/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.services {
	font-family: apple chancery;
	width: 700px;
	float: left;
	position: relative;
	
}

h1 {
	font-size: 5em;
	font-weight: bold;
	text-shadow: 1px 1px 1px red;
}

#right-list {
	float: right;
	display: inline-block;
	margin-top: -400px;
}

.mapcanvas {
	display: inline-block;
	margin-left: 8%;
}

#left-list {
	float: left;
	display: inline-block;
	margin-left: 5%;
}

.button {
	background-color: yellow;
	color: black;
	border: 3px solid black;
	width: 50%;
	font-weight: bold;
}

.button-font-color {
	color: black;
}

/*.mapcanvas{
	float:right;
	margin-top: -1300px;
	margin-right: 180px;
}*/

.container{
	
}

h1 {
	text-align: center;
}

body {
	background: url("blood.jpg")
}